<div class='desktop-3-child'>
  <div class='logo'><img src='/images/logo.png' alt='logo' /></div>
  <b class='thi-trc-nghim'>Thi trắc nghiệm</b>
</div>

<div class='screen'>
  <div class='desktop-3'>
    <div class='left'>
      <div class='thi-gian-cn'>Thời gian còn lại: .../...</div>
      <div class='cu-hi2'>Câu hỏi</div>
      <div class='listquest'>
        <table>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
          </tr>
          <tr>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>
          <tr>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
          </tr>
        </table>
      </div>
    </div>

    <div class='right'>
      <div class='listch'>
        <div class='ques'>
          <p>Câu 1: .</p>
          <form>
            <input type='radio' id='AnAQ1' name='Q1' value='Q1' />
            <label for='AnAQ1'>HTML</label><br />
            <input type='radio' id='AnBQ1' name='Q1' value='Q1' />
            <label for='AnBQ1'>CSS</label><br />
            <input type='radio' id='AnCQ1' name='Q1' value='Q1' />
            <label for='AnCQ1'>JavaScript</label><br />
            <input type='radio' id='AnDQ1' name='Q1' value='Q1' />
            <label for='AnDQ1'>Vycute</label>
          </form>
        </div>

        <div class='ques'>
          <p>Câu 2: .</p>
          <form>
            <input type='radio' id='AnAQ2' name='Q2' value='Q2' />
            <label for='AnAQ2'>HTML</label><br />
            <input type='radio' id='AnBQ2' name='Q2' value='Q2' />
            <label for='AnBQ2'>CSS</label><br />
            <input type='radio' id='AnCQ2' name='Q2' value='Q2' />
            <label for='AnCQ2'>JavaScript</label><br />
            <input type='radio' id='AnDQ2' name='Q2' value='Q2' />
            <label for='AnDQ2'>Vycute</label>
          </form>
        </div>

        <div class='ques'>
          <p>Câu 3: .</p>
          <form>
            <input type='radio' id='AnAQ3' name='Q3' value='Q3' />
            <label for='AnAQ3'>HTML</label><br />
            <input type='radio' id='AnBQ3' name='Q3' value='Q3' />
            <label for='AnBQ3'>CSS</label><br />
            <input type='radio' id='AnCQ3' name='Q3' value='Q3' />
            <label for='AnCQ3'>JavaScript</label><br />
            <input type='radio' id='AnDQ3' name='Q3' value='Q3' />
            <label for='AnDQ3'>Vycute</label>
          </form>
        </div>

        <div class='ques'>
          <p>Câu 4: .</p>
          <form>
            <input type='radio' id='AnAQ4' name='Q4' value='Q4' />
            <label for='AnAQ4'>HTML</label><br />
            <input type='radio' id='AnBQ4' name='Q4' value='Q4' />
            <label for='AnBQ4'>CSS</label><br />
            <input type='radio' id='AnCQ4' name='Q4' value='Q4' />
            <label for='AnCQ4'>JavaScript</label><br />
            <input type='radio' id='AnDQ4' name='Q4' value='Q4' />
            <label for='AnDQ4'>Vycute</label>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class='bttn'>
    <dialog>
      <div class='content'>
        <div class='s-cau'>Số câu đã hoàn thành: .../...</div>
        <p>Bạn có chắc muốn nộp bài?</p>
      </div>
      <form method='dialog'>
        <a href='/result' class='btn'>Nộp bài</a>
        <button autofocus>Hủy bỏ</button>
      </form>
    </dialog>
    <button class='btnlb'>Nộp bài</button>
    <a href='/settings' class='btnlb'>Thoát</a>
  </div>
</div>

<script>
  const dialog = document.querySelector('dialog')
  const showButton = document.querySelector('dialog + button')
  const closeButton = document.querySelector('dialog button')

  // "Show the dialog" button opens the dialog modally
  showButton.addEventListener('click', () => {
    dialog.showModal()
  })

  // "Close" button closes the dialog
  closeButton.addEventListener('click', () => {
    dialog.close()
  })
</script>