<div class='desktop-0'>
  <div class='desktop-0-child'>
    <div class='content'>
      <div class='image-1-parent2'>
        <img class='image-1-icon4' alt='' src='/images/image-12@2x.png' />
        <div class='vi5-research-group-container8'>
          <span class='vi5-research-group-container9'>
            <p class='vi5-research4'>Vi5 Research</p>
            <p class='vi5-research4'>Group</p>
          </span>
        </div>
      </div>
      <div class='rectangle-parent42'>
        <a href='/settings' class='to-trc'>Tạo đề trắc nghiệm</a>
      </div>
    </div>
  </div>
</div>