.main {
  background-color: var(--color-white);
  width: 100%; 
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-36xl);
  color: var(--color-slategray);
  font-family: var(--font-crimson-pro);
}
.title {
  background-color: var(--color-steelblue-300);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-77xl);
  color: var(--color-white);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container {
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
  font-size: var(--font-size-21xl);
}
.left-column {
  width: 30%;
}
.right-column {
  width: 70%;
}
.btn-test {
  font-family: var(--font-crimson-pro);
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  border-radius: var(--br-mini);
  background-color: var(--color-steelblue-200);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 50px;
  margin: 20px;
}
.btn-test:hover {
  cursor: pointer;
  background: linear-gradient(to bottom,rgb(11 85 123) 0%, rgb(11 85 123) 100%);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.btn-test:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}
button a {
  text-decoration: none;
  color: var(--color-white);
}


@media screen and (max-width: 922px) {
  .container {
    flex-direction: column;
  }
  .left-column {
    width: auto;
  }
  .right-column {
    width: auto;
  }
}